@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Fraunces";
  src: url("fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf")
    format("truetype");
}
* {
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 38%, 92%);
  overflow: hidden;
}
p {
  font-size: 16px;
  font-weight: 450;
}
h5 {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 8px;
  margin-top: 1.5rem;
}
p,
h5 {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
}
h2 {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  margin-top: -10px;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  height: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}
section {
  margin: 0;
}
.img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 0 0 15px;
}
.details {
  padding: 0 2rem 2rem 2rem;
}
.four {
  margin: 1.5rem 0;
}
.four p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.span1 {
  color: hsl(158, 36%, 37%);
  font-weight: 700;
  font-size: 35px;
}
.span2 {
  text-decoration: line-through;
}
button {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  border: 2px solid hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  padding: 0.4rem;
  border-radius: 10px;
}
button:hover {
  background-color: hsl(159, 38%, 16%);
  border: 2px solid hsl(159, 38%, 16%);
}
.attribution {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.attribution a {
  font-size: 16px;
  color: hsl(4, 100%, 67%);
  text-decoration: none;
}
@media only screen and (max-width:1200px) {
      h5 {
        margin-top: 2.5rem;
      }
      .container {
        height: max-content;
        width: 60%;
      }
      .span1 {
        font-size: 40px;
      }
      .attribution {
        display: none;
      }
}
@media only screen and (max-width:700px){
    p {
        font-size: 14px;
        font-weight: 400;
      }
      h5 {
        font-size: 12px;
        letter-spacing: 8px;
        margin-top: 10px;
      }
      h2 {
        font-size: 1.2rem;
      }
      main {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
      }
      .container {
        margin: auto;
        width: 90vw;
        height: 90vh;
        display: flex;
        flex-direction: column;
        border-radius: 15;
      }
      .details{
        padding: 0 1rem 1rem 1rem;
      }
      .img-div{
        width: 100%;
        height: 40%;
      }
      .img1 {
        border-radius: 15px 15px 0 0;
      }
      .four {
        margin: 1rem 0;
      }
      .four p {
        justify-content: space-around;
        width: 90%;
      }
      .span1 {
        font-size: 30px;
      }
      .attribution {
        display: none;
      }

}
